body{

margin:0;
background:black;
color:white;
font-family: 'Libre Baskerville', serif;
text-align:center;
font-size:18px;

}

.fondo{

min-height:100vh;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:40px;

}

.carta{

background:#111;
color:white;

padding:60px;
width:420px;

border:3px solid gold;

text-align:center;

cursor:pointer;

font-size:22px;

}

.carta:hover{

transform:scale(1.05);

}
.fondo{
background-image:url("/static/img/mapa_merodeador.png");
background-size:cover;
background-position:center;

min-height:100vh;

display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
}
.pergamino{

background:#e6d3a3;
color:black;

padding:55px;
width:520px;

border-radius:5px;

display:block;
margin:40px auto;

font-size:19px;
line-height:1.6;

text-align:center;

}
.oculto{

display:none;

}

.firma{
font-family: 'Great Vibes', cursive;
font-size:32px;
margin-top:15px;
}

.contador{

margin-top:20px;
font-size:22px;

}

/* MAPA */

.mapa-container{

position:relative;
display:inline-block;

}

.imagen-mapa{

width:600px;

}

.marcador{

width:20px;
height:20px;
background:red;
border-radius:50%;
position:absolute;
top:45%;
left:60%;

}

.mapa-real{

margin-top:40px;

}

/* GALERIA */

.galeria{

max-width:600px;

}

.fotos{

display:flex;
gap:10px;
flex-wrap:wrap;
justify-content:center;

}

.fotos img{

width:180px;
border-radius:5px;

}

/* CONFIRMACION */

.confirmacion{

background:#111;
padding:30px;
border:2px solid gold;

}

input{

padding:8px;
margin-top:10px;

}

button{

margin-top:15px;
padding:10px 20px;
background:gold;
border:none;
cursor:pointer;

}